In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
#Read the criminality data of the FGJ-CDMX
data = pd.read_csv('[PATH TO FGJ-CDMX criminality database]', low_memory=False)

In [4]:
data.head()

,ao_hechos,mes_hechos,fecha_hechos,ao_inicio,mes_inicio,fecha_inicio,delito,fiscalia,agencia,unidad_investigacion,categoria_delito,calle_hechos,calle_hechos2,colonia_hechos,alcaldia_hechos,competencia,longitud,latitud,tempo
0,2016.0,Enero,2016-01-31 22:16:00,2016,Febrero,2016-02-01 00:25:44,DAÑO EN PROPIEDAD AJENA INTENCIONAL,INVESTIGACIÓN EN BENITO JUÁREZ,BJ-2,UI-3CD,DELITO DE BAJO IMPACTO,CALZ. DE TLALPAN,LAGO PTE.,AMÉRICAS UNIDAS,BENITO JUAREZ,NaN,-99.140215,19.380315,NaN
1,2016.0,Enero,2016-01-31 20:50:00,2016,Febrero,2016-02-01 00:52:37,ROBO DE VEHICULO DE SERVICIO PARTICULAR CON VI...,INVESTIGACIÓN PARA LA ATENCIÓN DEL DELITO DE R...,ORIENTEII,UI-3CD,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,SUR 25 A,GRANJEROS,LOS CIPRESES,IZTAPALAPA,NaN,-99.108403,19.352859,NaN
2,2016.0,Febrero,2016-02-01 00:30:00,2016,Febrero,2016-02-01 01:33:26,NARCOMENUDEO POSESION SIMPLE,"INVESTIGACIÓN PARA LA ATENCIÓN DE NIÑOS, NIÑAS...",57,UI-3CD,DELITO DE BAJO IMPACTO,BATALLONES ROJOS,NaN,UNIDAD VICENTE GUERRERO,IZTAPALAPA,NaN,-99.061321,19.356451,NaN
3,2016.0,Enero,2016-01-31 22:00:00,2016,Febrero,2016-02-01 02:09:11,ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA,INVESTIGACIÓN EN IZTAPALAPA,IZP-6,UI-3CD,ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIO...,GERANIO,GAVILLEROS,EMILIANO ZAPATA,IZTAPALAPA,NaN,-98.976379,19.331633,NaN
4,2015.0,Diciembre,2015-12-25 12:00:00,2016,Febrero,2016-02-01 02:16:49,DENUNCIA DE HECHOS,INVESTIGACIÓN EN BENITO JUÁREZ,BJ-1,UI-3SD,HECHO NO DELICTIVO,SAN FRANCISCO,AVENIDA COLONIA DEL VALLE,DEL VALLE CENTRO,BENITO JUAREZ,NaN,-99.172189,19.387114,NaN

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1248924 entries, 0 to 1248923
Data columns (total 19 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   ao_hechos             1248489 non-null  float64
 1   mes_hechos            1248489 non-null  object
 2   fecha_hechos          1248489 non-null  object
 3   ao_inicio             1248924 non-null  int64
 4   mes_inicio            1248924 non-null  object
 5   fecha_inicio          1248921 non-null  object
 6   delito                1248924 non-null  object
 7   fiscalia              1248922 non-null  object
 8   agencia               1248924 non-null  object
 9   unidad_investigacion  1248697 non-null  object
 10  categoria_delito      1248924 non-null  object
 11  calle_hechos          1245804 non-null  object
 12  calle_hechos2         487246 non-null   object
 13  colonia_hechos        1197664 non-null  object
 14  alcaldia_hechos       1245436 non-null  object
 15  competencia           184845 non-null   object
 16  longitud              1198622 non-null  float64
 17  latitud               1198622 non-null  float64
 18  tempo                 0 non-null        float64
dtypes: float64(4), int64(1), object(14)
memory usage: 181.0+ MB

In [10]:
#Filter the data of the last 5 years.
data_2016_2021 = data[data['ao_hechos']>=2016]

In [11]:
len(data_2016_2021)

1219711

In [12]:
#Drop the following columns that are not relevant for this analysis(fiscalia,agencia,
#unidad_investigacion,categoria_delito,calle_hechos,calle_hechos_2,colonia_hechos,
#alcaldia_hechos, competencia, tempo)

data_2016_2021 = data_2016_2021.drop(['fiscalia','agencia','unidad_investigacion',
                                      'calle_hechos','calle_hechos2','colonia_hechos','alcaldia_hechos',
                                      'competencia','tempo'], axis=1)

In [13]:
data_2016_2021.isnull().sum()

ao_hechos               0
mes_hechos              0
fecha_hechos            0
ao_inicio               0
mes_inicio              0
fecha_inicio            3
delito                  0
categoria_delito        0
longitud            47901
latitud             47901
dtype: int64

In [14]:
data_2016_2021.longitud.isnull().sum()/len(data)

0.03835381496392094

In [15]:
# Drop rows with null values in the longitud and latitude columns.
data_2016_2021 = data_2016_2021.dropna()

In [16]:
data_2016_2021.isnull().sum()

ao_hechos           0
mes_hechos          0
fecha_hechos        0
ao_inicio           0
mes_inicio          0
fecha_inicio        0
delito              0
categoria_delito    0
longitud            0
latitud             0
dtype: int64

In [17]:
#eliminar delitos cuya categoría sea 'DELITO DE BAJO IMPACTO', el número de registros sea menor a 5 y la 
#descripcion no contenga la palabra robo.
#data_limpia = data_2016_2021.drop([data_2016_2021['delito'].value_counts()<5 and data_2016_2021['categoria_delito']=='DELITO DE BAJO IMPACTO' and data_2016_2021['delito'].contains('ROBO')==False]
#                                  ,inplace=True)
numero_registros = data_2016_2021['delito'].value_counts()
data_2016_2021['num_registros']= data_2016_2021['delito'].apply(lambda x: numero_registros[x])

In [18]:
data_2016_2021['robo'] = data_2016_2021['delito'].apply(lambda x: re.search(r'ROBO',x))

In [19]:
data_2016_2021 = data_2016_2021.drop(data_2016_2021[(data_2016_2021['robo'].isnull()==True) & 
                                                    (data_2016_2021['num_registros']<=5) & 
                                                    (data_2016_2021['categoria_delito']=='DELITO DE BAJO IMPACTO')].index)

In [42]:
#Seleccionar los delitos de interés para el análisis.
delitos = pd.DataFrame(data_2016_2021.delito.value_counts())

In [27]:
delitos.to_excel('delitos.xlsx')

In [8]:
#Data frame con delitos seleccionados manualmente.
delitos_seleccionados = pd.read_excel('delitos_seleccionados.xlsx')

In [9]:
delitos_seleccionados.head()

   Unnamed: 0                                                  0
0           1  ROBO DE VEHICULO DE SERVICIO PARTICULAR CON VI...
1           3     ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA
2           7           LESIONES INTENCIONALES POR ARMA DE FUEGO
3           8                                  LESIONES CULPOSAS
4           9  ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...

In [42]:
#Filtrar solo las filas que tengan decripción de delito que se encuentre dentro de delitos_seleccionados.
data_seleccionada = data_2016_2021[data_2016_2021['delito'].isin(delitos_seleccionados[0])]

In [22]:
data_seleccionada.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 652556 entries, 1 to 1248923
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   ao_hechos         652556 non-null  float64
 1   mes_hechos        652556 non-null  object
 2   fecha_hechos      652556 non-null  object
 3   ao_inicio         652556 non-null  int64
 4   mes_inicio        652556 non-null  object
 5   fecha_inicio      652556 non-null  object
 6   delito            652556 non-null  object
 7   categoria_delito  652556 non-null  object
 8   longitud          652556 non-null  float64
 9   latitud           652556 non-null  float64
 10  num_registros     652556 non-null  int64
 11  robo              523854 non-null  object
dtypes: float64(3), int64(2), object(7)
memory usage: 64.7+ MB

In [23]:
data_seleccionada.head()

,ao_hechos,mes_hechos,fecha_hechos,ao_inicio,mes_inicio,fecha_inicio,delito,categoria_delito,longitud,latitud,num_registros,robo
1,2016.0,Enero,2016-01-31 20:50:00,2016,Febrero,2016-02-01 00:52:37,ROBO DE VEHICULO DE SERVICIO PARTICULAR CON VI...,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,-99.108403,19.352859,12651,"<re.Match object; span=(0, 4), match='ROBO'>"
3,2016.0,Enero,2016-01-31 22:00:00,2016,Febrero,2016-02-01 02:09:11,ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA,ROBO A TRANSEUNTE EN VÍA PÚBLICA CON Y SIN VIO...,-98.976379,19.331633,61165,"<re.Match object; span=(0, 4), match='ROBO'>"
10,2016.0,Enero,2016-01-31 16:00:00,2016,Febrero,2016-02-01 06:26:19,LESIONES INTENCIONALES POR ARMA DE FUEGO,LESIONES DOLOSAS POR DISPARO DE ARMA DE FUEGO,-99.131745,19.469282,4339,None
12,2016.0,Febrero,2016-02-01 06:40:00,2016,Febrero,2016-02-01 07:25:58,LESIONES CULPOSAS,DELITO DE BAJO IMPACTO,-99.172158,19.443426,2373,None
13,2016.0,Enero,2016-01-31 07:00:00,2016,Febrero,2016-02-01 07:27:01,ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...,ROBO DE VEHÍCULO CON Y SIN VIOLENCIA,-99.226325,19.300162,31249,"<re.Match object; span=(0, 4), match='ROBO'>"

In [43]:
#Eliminar columnas no necesarias para el análisis.
data_limpia = data_seleccionada.drop(data_seleccionada[['num_registros','robo','ao_inicio','mes_inicio','fecha_inicio','categoria_delito','ao_hechos','mes_hechos']], axis=1)

In [44]:
data_limpia.head()

,fecha_hechos,delito,longitud,latitud
1,2016-01-31 20:50:00,ROBO DE VEHICULO DE SERVICIO PARTICULAR CON VI...,-99.108403,19.352859
3,2016-01-31 22:00:00,ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA,-98.976379,19.331633
10,2016-01-31 16:00:00,LESIONES INTENCIONALES POR ARMA DE FUEGO,-99.131745,19.469282
12,2016-02-01 06:40:00,LESIONES CULPOSAS,-99.172158,19.443426
13,2016-01-31 07:00:00,ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...,-99.226325,19.300162

In [46]:
#Convertir fecha a formato datetime
data_limpia['fecha_hechos'] = pd.to_datetime(data_limpia['fecha_hechos'])

In [47]:
data_limpia.head()

,fecha_hechos,delito,longitud,latitud
1,2016-01-31 20:50:00,ROBO DE VEHICULO DE SERVICIO PARTICULAR CON VI...,-99.108403,19.352859
3,2016-01-31 22:00:00,ROBO A TRANSEUNTE EN VIA PUBLICA CON VIOLENCIA,-98.976379,19.331633
10,2016-01-31 16:00:00,LESIONES INTENCIONALES POR ARMA DE FUEGO,-99.131745,19.469282
12,2016-02-01 06:40:00,LESIONES CULPOSAS,-99.172158,19.443426
13,2016-01-31 07:00:00,ROBO DE VEHICULO DE SERVICIO PARTICULAR SIN VI...,-99.226325,19.300162

In [48]:
data_limpia.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 652556 entries, 1 to 1248923
Data columns (total 4 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   fecha_hechos  652556 non-null  datetime64[ns]
 1   delito        652556 non-null  object
 2   longitud      652556 non-null  float64
 3   latitud       652556 non-null  float64
dtypes: datetime64[ns](1), float64(2), object(1)
memory usage: 24.9+ MB

In [49]:
data_limpia.to_csv('data_limpia.csv')